
.layout-header{
    background: url(../images/header-img.png);    
    background-position: top center;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;    
    
}

td+td  {
    text-align:center;
}


.izreka {
    font-size: 20px;
}

.img-logo {
    height: 28px;
}

.icons-kontakt-footer{
    font-size: 1.5rem;
} 

.text-footer {
    font-size: 1rem;
}

.img-slike {
    width: 300px;
    height: 180px;
}

.header-links {
    font-size: 0.9rem;
}