
.layout-header{
    background: url(../images/header-img.png);    
    background-position: top center;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;        
}

.layout-oci {      
    background-position: top center;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0;
    width: 100%;
}

.btn-bg-color-dejan {
    background-color: #121826 !important;
}

.bg-color-by-dejan {
    background-color: #121826 !important;
}


.btn-bg-color-dejan:link {
    background-color: #121826 !important;
}

.btn-bg-color-dejan:visited {
    background-color: #121826 !important;
}

.btn-bg-color-dejan:focus {
     background-color: white !important;    
    border-radius: 10px;
    border: #121826 3px solid;
    font-size: larger;
    color: #121826;


}

.btn-bg-color-dejan:hover {
    background-color: white !important;    
    border-radius: 10px;
    border: #121826 3px solid;
    font-size: larger;


}

.btn-bg-color-dejan:active {
    background-color: #121826 !important;
    border-radius: 10px;
}

 .table-hover-state:hover {
    
    font-size: larger;
    color: white;
}



td+td  {
    text-align:center;
}

small {
    line-height: 3px;
    font-size: 10;
}


.izreka {
    font-size: 20px;
}

.img-logo {
    height: 28px;
}


.icons-kontakt-footer{
    font-size: 1.5rem;
} 

.text-footer {
    font-size: 1rem;
}

.img-slike {
    width: 300px;
    height: 180px;
}

.header-links {
    font-size: 0.9rem;
}
.row-f {
    display: flex;
}

.card {
    flex: 1 1 ;
    flex-wrap: wrap;
    align-self: normal;
}

.rastojanje {
    padding: 5px 0;
    margin: 10px 0;
}

.rastojanje-kontakt {
margin-top: -5px;
}

/* .nav-column {
    padding: 5px 0;
    margin: 10px 0;
} */

.nav-item {
     padding: 2px 0;
     margin: 5px 0;
}

.stelovanje-visine-linkovi
{
   margin-top: -6px; 
}

h4 {
    font-size: 16px;
    margin-bottom: 150px;
    font-weight: bolder;
}

span , tel, footer  p, footer li {
    font-size: 14px;
}

#povratak {
    font-size: 14px;
}

#copy {
    font-size: 14px;
}