
.layout-header{
    background: url(../images/header-img.png);    
    background-position: top center;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;    
    
}

.btn-bg-color-dejan {
    background-color: #121826 !important;
}

.bg-color-by-dejan {
    background-color: #121826 !important;
}


.btn-bg-color-dejan:link {
    background-color: #121826 !important;
}

.btn-bg-color-dejan:visited {
    background-color: #121826 !important;
}

.btn-bg-color-dejan:focus {
     background-color: white !important;    
    border-radius: 10px;
    border: #121826 3px solid;
    font-size: larger;
    color: #121826;


}

.btn-bg-color-dejan:hover {
    background-color: white !important;    
    border-radius: 10px;
    border: #121826 3px solid;
    font-size: larger;


}

.btn-bg-color-dejan:active {
    background-color: #121826 !important;
    border-radius: 10px;
}





td+td  {
    text-align:center;
}

small {
    line-height: 3px;
    font-size: 10;
}


.izreka {
    font-size: 20px;
}

.img-logo {
    height: 28px;
}


.icons-kontakt-footer{
    font-size: 1.5rem;
} 

.text-footer {
    font-size: 1rem;
}

.img-slike {
    width: 300px;
    height: 180px;
}

.header-links {
    font-size: 0.9rem;
}